first-react/package.json
first-react/node_modules
first-react/README.md
first-react/vite.config.js
first-react/package-lock.json
first-react/eslint.config.js

second-react/package.json
second-react/node_modules
second-react/README.md
second-react/vite.config.js
second-react/package-lock.json
second-react/eslint.config.js
second-react/src/images

third-project/package.json
third-project/node_modules
third-project/README.md
third-project/vite.config.js
third-project/package-lock.json
third-project/eslint.config.js
third-project/src/images
third-project/api-key

simply/package.json
simply/node_modules
simply/README.md
simply/vite.config.js
simply/package-lock.json
simply/eslint.config.js
simply/src/images

.env

fourth-project/package.json
fourth-project/node_modules
fourth-project/README.md
fourth-project/vite.config.js
fourth-project/package-lock.json
fourth-project/eslint.config.js
fourth-project/src/images
fourth-project/api-key