* {
    box-sizing: border-box;
}

body {
    background-color: #1C1917;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad-container {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
}

button {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    
}


button.on {
    box-shadow: 0 0 20px 5px #fff, 0 0 10px 2px currentColor;
    outline: 2px solid #fff;
    outline-offset: 2px;
    filter: brightness(.8);
    transition: box-shadow 0.2s, filter 0.2s, outline 0.2s;
}

button {
    transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
    opacity: .2;
}

button.on {
    opacity: 1;
}